EventoWeb.Comum.Testes/bin
EventoWeb.Comum.Testes/obj
EventoWeb.Comum/obj
EventoWeb.Comum/bin
EventoWeb.Nucleo/obj
EventoWeb.Nucleo/bin
/.vs/eventoweb_comum_back/CopilotIndices/17.14.1518.61961
/.vs/eventoweb_comum_back/DesignTimeBuild
/.vs/eventoweb_comum_back/FileContentIndex
/.vs/eventoweb_comum_back/v17
/.vs/eventoweb_comum_back/v18
/.vs
